<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ImagesPath" value="D:\Monday\RubbishCollector\RubbishCollector\RubbishCollectorContent\Images\" />
    <add key="TopHeight" value="84" />
    <add key="ButtomHeight" value="35" />
    <add key="RightHeight" value="54" />
    <add key="LeftHeight" value="54" />
    <add key="Padding" value="100" />
    <add key="Gravity" value="3" />
    <add key="Levels" value="3" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>